WebServices/ProducerWeightsAndTests.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.test.milk.ats.com" xmlns:impl="http://service.test.milk.ats.com" xmlns:intf="http://service.test.milk.ats.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://service.test.milk.ats.com" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <element name="retrieveProducerWeightsAndTestsResponse">
    <complexType>
     <sequence>
      <element name="retrieveProducerWeightsAndTestsReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="retrieveProducerWeightsAndTests">
    <complexType>
     <sequence>
      <element name="periodType" nillable="true" type="xsd:string"/>
      <element name="profileType" nillable="true" type="xsd:string"/>
      <element name="startDate" nillable="true" type="xsd:string"/>
      <element name="finishDate" nillable="true" type="xsd:string"/>
      <element name="divisionNumber" nillable="true" type="xsd:string"/>
      <element name="producerNumber" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="retrieveProducerWeightsAndTestsRequest">
     <wsdl:part element="impl:retrieveProducerWeightsAndTests" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="retrieveProducerWeightsAndTestsResponse">
     <wsdl:part element="impl:retrieveProducerWeightsAndTestsResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="ProducerWeightsAndTests">
     <wsdl:operation name="retrieveProducerWeightsAndTests">
       <wsdl:input message="impl:retrieveProducerWeightsAndTestsRequest" name="retrieveProducerWeightsAndTestsRequest"/>

       <wsdl:output message="impl:retrieveProducerWeightsAndTestsResponse" name="retrieveProducerWeightsAndTestsResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="ProducerWeightsAndTestsSoapBinding" type="impl:ProducerWeightsAndTests">
     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="retrieveProducerWeightsAndTests">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="retrieveProducerWeightsAndTestsRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="retrieveProducerWeightsAndTestsResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="ProducerWeightsAndTestsService">
     <wsdl:port binding="impl:ProducerWeightsAndTestsSoapBinding" name="ProducerWeightsAndTests">
       <wsdlsoap:address location="http://milkservicestest.dfamilk.com/webapp/milkws/services/ProducerWeightsAndTests"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
