WebServices/ProducerPasswordValidation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.validation.milk.ats.com" xmlns:impl="http://service.validation.milk.ats.com" xmlns:intf="http://service.validation.milk.ats.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsi="http://ws-i.org/profiles/basic/1.1/xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <wsdl:types>
  <schema targetNamespace="http://service.validation.milk.ats.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="doesProducerPasswordExistResponse">
    <complexType>
     <sequence>
      <element name="doesProducerPasswordExistReturn" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doesProducerPasswordExist">
    <complexType>
     <sequence>
      <element name="divisionNumber" nillable="true" type="xsd:string"/>
      <element name="producerNumber" nillable="true" type="xsd:string"/>
      <element name="producerPassword" nillable="true" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="doesProducerPasswordExistRequest">
     <wsdl:part element="impl:doesProducerPasswordExist" name="parameters"/>

  </wsdl:message>

   <wsdl:message name="doesProducerPasswordExistResponse">
     <wsdl:part element="impl:doesProducerPasswordExistResponse" name="parameters"/>

  </wsdl:message>

   <wsdl:portType name="ProducerPasswordValidation">
     <wsdl:operation name="doesProducerPasswordExist">
       <wsdl:input message="impl:doesProducerPasswordExistRequest" name="doesProducerPasswordExistRequest"/>

       <wsdl:output message="impl:doesProducerPasswordExistResponse" name="doesProducerPasswordExistResponse"/>

    </wsdl:operation>

  </wsdl:portType>

   <wsdl:binding name="ProducerPasswordValidationSoapBinding" type="impl:ProducerPasswordValidation">
     <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

     <wsdl:operation name="doesProducerPasswordExist">
       <wsdlsoap:operation soapAction=""/>

       <wsdl:input name="doesProducerPasswordExistRequest">
         <wsdlsoap:body use="literal"/>

      </wsdl:input>

       <wsdl:output name="doesProducerPasswordExistResponse">
         <wsdlsoap:body use="literal"/>

      </wsdl:output>

    </wsdl:operation>

  </wsdl:binding>

   <wsdl:service name="ProducerPasswordValidationService">
     <wsdl:port binding="impl:ProducerPasswordValidationSoapBinding" name="ProducerPasswordValidation">
       <wsdlsoap:address location="http://milkservicestest.dfamilk.com/webapp/milkws/services/ProducerPasswordValidation"/>

    </wsdl:port>

  </wsdl:service>

</wsdl:definitions>
